<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.AgencyMessageMapper">

    <select id="getList" resultType="com.neteast.business.domain.custom.AgencyMessage" parameterType="com.neteast.business.domain.custom.AgencyMessage">
        select
        id,agency_name,agency_address,agency_person,agency_phone,bank_name,bank_account,create_time,create_by,update_time,update_by
        from agency_message
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="agencyName != null and agencyName != ''">
                and agency_name = '%'||#{agencyName}||'%'
            </if>
            <if test="agencyAddress != null and agencyAddress != ''">
                and agency_address = #{agencyAddress}
            </if>
            <if test="agencyPerson != null and agencyPerson != ''">
                and agency_person = #{agencyPerson}
            </if>
            <if test="agencyPhone != null and agencyPhone != ''">
                and agency_phone = #{agencyPhone}
            </if>
            <if test="bankName != null and bankName != ''">
                and bank_name = #{bankName}
            </if>
            <if test="bankAccount != null and bankAccount != ''">
                and bank_account = #{bankAccount}
            </if>
        </where>
    </select>
</mapper>