<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.AttachMessageMapper">

    <select id="getList" resultType="com.neteast.business.domain.project.vo.AttachMessageVO" parameterType="com.neteast.business.domain.project.vo.AttachMessageVO" >
        select m.id,m.name,m.address,m.project_id,m.package_id,m.file_type,m.type,m.size,m.num,project_code,filings_number,project_name,contract_package,package_num,bidding_subject,m.create_by,m.create_time,m.update_by,m.update_time from attach_message m
            LEFT JOIN project_message on project_id = project_message.id LEFT JOIN package_information on package_id = package_information.id
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="packageId != null and packageId != ''">
                and package_id = #{packageId}
            </if>
            <if test="fileType != null and fileType != ''">
                and file_type = #{fileType}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>


</mapper>