<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.BankMessageMapper">

    <select id="getList" resultMap="com.neteast.business.domain.custom.vo.BankMessageVO" parameterType="com.neteast.business.domain.custom.vo.BankMessageVO" >
        select b.id,b.name,b.address,number,card_name,use,w.name work_name,w.address work_address,w.legal_person,w.net,w.place_type,w.postcode,b.create_by,b.create_time,b.update_by,b.update_time
        from work_place_name w INNER JOIN bank_message b on b.ext_id = w.id
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="number != null and number != ''">
                and number = #{number}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="use != null and use != ''">
                and use = #{use}
            </if>
            <if test="legalPerson != null and legalPerson != ''">
                and legal_person like concat('%',#{legal_person},'%')
            </if>
            <if test="workName != null and workName != ''">
                and work_name like concat('%',#{work_name},'%')
            </if>
            <if test="workPlace != null and workPlace != ''">
                and work_place like concat('%',#{work_place},'%')
            </if>
            <if test="placeType != null">
                and place_type = #{place_type}
            </if>
        </where>
    </select>



</mapper>