<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.DictHistoryMapper">

    <select id="getList" resultType="com.neteast.business.domain.dict.DictHistory" parameterType="com.neteast.business.domain.dict.DictHistory">
        select
            id,key_id,value_id,history_value,history_time,do_by,history_value_name
        from dict_history
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="keyId != null and keyId != ''">
                and key_id = #{keyId}
            </if>
            <if test="valueId != null and valueId != ''">
                and value_id = #{valueId}
            </if>
            <if test="historyValue != null and historyValue != ''">
                and history_value = #{historyValue}
            </if>
            <if test="historyTime != null and historyTime != ''">
                and history_time = #{historyTime}
            </if>
            <if test="doBy != null and doBy != ''">
                and do_by = #{doBy}
            </if>
            <if test="historyValueName != null and historyValueName != ''">
                and history_value_name = #{historyValueName}
            </if>
        </where>
    </select>
</mapper>