<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.MeetRoomMapper">

    <select id="getList" resultType="com.neteast.business.domain.programme.MeetRoom" parameterType="com.neteast.business.domain.programme.MeetRoom">
        select
        id,name,channel_name,type,create_by,create_time,update_by,update_time
        from meet_room
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like '%'||#{name}||'%'
            </if>
            <if test="channelName != null and channelName != ''">
                and channel_name = #{channelName}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>
</mapper>