<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.PlusesConditionMapper">

    <select id="getList" resultType="com.neteast.business.domain.dict.vo.PlusesConditionVO" parameterType="com.neteast.business.domain.dict.vo.PlusesConditionVO">
        select
        id,name,create_by,create_time,update_by,update_time
        from pluses_condition
        <where>
            del = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>

</mapper>