<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.ProjectExpertMapper">

    <select id="getList" resultType="com.neteast.business.domain.project.vo.ProjectExpertVO" parameterType="com.neteast.business.domain.project.vo.ProjectExpertVO">
        select e.id,project_id,expert_id,name,identity_number,work_addr,contract_phone,project_code,filings_number,project_name,e.create_by,e.create_time,e.update_by,e.update_time from project_expert e
            INNER JOIN project_message on project_id = project_message.id INNER JOIN expert_message on expert_id = expert_message.id
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="expertId != null and expertId != ''">
                and expert_id = #{expertId}
            </if>
        </where>
    </select>

</mapper>