<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.ProjectExpertMapper">

    <select id="getList" resultType="com.neteast.business.domain.project.vo.ProjectExpertVO" parameterType="com.neteast.business.domain.project.vo.ProjectExpertVO">
        select p.project_id,p.expert_id,p.package_id,e.contract_phone,e.work_addr,e.name,e.identity_number from project_expert p INNER JOIN expert_message e on p.expert_id = e.id
        <where>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="packageId != null and packageId != ''">
                and expert_id = #{expertId}
            </if>
            <if test="expertId != null and expertId != ''">
                and expert_id = #{expertId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>

</mapper>