<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.PurchaserMessageMapper">

    <select id="getList" resultType="com.neteast.business.domain.custom.PurchaserMessage" parameterType="com.neteast.business.domain.custom.PurchaserMessage">
        select
        id,name,address,contract_person,phone,create_time,create_by,update_time,update_by
        from purchaser_message
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="contractPerson != null and contractPerson != ''">
                and contract_person = #{contractPerson}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
        </where>
    </select>
</mapper>