<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.PurchaserMessageMapper">

    <select id="getList" resultType="com.neteast.business.domain.custom.PurchaserMessage" parameterType="com.neteast.business.domain.custom.PurchaserMessage">
        select
        id,purchaser_name,purchaser_address,purchaser_person,purchaser_phone,create_time,create_by,update_time,update_by
        from purchaser_message
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="purchaserName != null and purchaserName != ''">
                and purchaser_name like '%'||#{purchaserName}||'%'
            </if>
            <if test="purchaserAddress != null and purchaserAddress != ''">
                and purchaser_address = #{purchaserAddress}
            </if>
            <if test="purchaserPerson != null and purchaserPerson != ''">
                and purchaser_person = #{purchaserPerson}
            </if>
            <if test="purchaserPhone != null and purchaserPhone != ''">
                and purchaser_phone = #{purchaserPhone}
            </if>
        </where>
    </select>
</mapper>