<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.TemplateFileMapper">

    <select id="getList" resultType="com.neteast.business.domain.template.vo.TemplateFileVO" parameterType="com.neteast.business.domain.template.vo.TemplateFileVO">
        select
        id,ext_id,unit,use_count,name,open,belong,create_by,create_time,update_by,update_time
        from template_file
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="extId != null and extId != ''">
                and ext_id = #{extId}
            </if>
            <if test="unit != null and unit != ''">
                and unit = #{unit}
            </if>
            <if test="useCount != null and useCount != ''">
                and use_count = #{useCount}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="open != null and open != ''">
                and open = #{open}
            </if>
            <if test="belong != null and belong != ''">
                and belong = #{belong}
            </if>
        </where>
    </select>
</mapper>