<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.ProjectScoreItemMapper">

    <resultMap type="com.neteast.business.domain.project.ProjectScoreItem" id="ProjectScoreItemMap">
        <result property="id" column="id" jdbcType="Integer"/>
        <result property="projectId" column="project_id" jdbcType="Integer"/>
        <result property="packageId" column="package_id" jdbcType="Integer"/>
        <result property="itemName" column="item_name" jdbcType="String"/>
        <result property="itemType" column="item_type" jdbcType="String"/>
        <result property="valueType" column="value_type" jdbcType="Integer"/>
        <result property="value" column="value" jdbcType="Double"/>
    </resultMap>

    <select id="getList" resultMap="ProjectScoreItemMap">
        select
        id,project_id,package_id,item_name,item_type,value_type,value
        from project_score_item
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="packageId != null and packageId != ''">
                and package_id = #{packageId}
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name = #{itemName}
            </if>
            <if test="itemType != null and itemType != ''">
                and item_type = #{itemType}
            </if>
            <if test="valueType != null and valueType != ''">
                and value_type = #{valueType}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
        </where>
    </select>


</mapper>