<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neteast.business.mapper.SupplierMessageMapper">

    <resultMap type="com.neteast.business.domain.custom.SupplierMessage" id="SupplierMessageMap">
        <result property="id" column="id" jdbcType="Integer"/>
        <result property="name" column="name" jdbcType="String"/>
        <result property="address" column="address" jdbcType="String"/>
        <result property="createBy" column="create_by" jdbcType="String"/>
        <result property="createTime" column="create_time" jdbcType="Date"/>
        <result property="updateBy" column="update_by" jdbcType="String"/>
        <result property="updateTime" column="update_time" jdbcType="Date"/>
    </resultMap>

    <select id="getList" resultMap="SupplierMessageMap" >
        select
            id,name,address,create_by,create_time,update_by,update_time
        from supplier_message
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
        </where>
    </select>
</mapper>